@import '../../sass/main.scss';

.container {
  margin: 24px 12px;
}

.eventRect {
  box-shadow: 0;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  cursor: pointer;
}

.axis {
  font-size: 12px;
  text-align: left;

  &X text {
    transform: rotate(-45deg) translateY(25px);
  }

  path {
    stroke: $color-grey-light-1;
    stroke-width: 2px;
  }
}

.tooltip {
  position: absolute;
  pointer-events: none;
  background-color: $color-grey-dark-3;
  color: $color-white;
  padding: 8px;
  font-size: 12px;
  opacity: 0;
  border-radius: 2px;
}
