@import '../../sass/main.scss';

.container {
  padding: 24px;
}

.timelineHeadline {
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  font-weight: 500;

  @include respond(phone) {
    padding: 0 0 12px;
    flex-direction: column;
  }

  @include respond(tab-port) {
    margin: 0 0 12px;
  }
}

.monthYear {
  margin: 12px 0 0;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;

  @include respond(tab-port) {
    flex-direction: column;
  }
}
